#loading-screen-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(13, 13, 15);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-circle-container-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vmin;
    height: 55vmin;
    min-width: 250px;
    min-height: 250px;
    aspect-ratio: 1;
}

.loading-circle-main {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(from 0deg, #007cf0, #00dfd8, white, #007cf0);
    mask-image: radial-gradient(farthest-side, transparent calc(100% - 16px), black calc(100% - 16px));
    -webkit-mask-image: radial-gradient(farthest-side, transparent calc(100% - 16px), black calc(100% - 16px));
    animation: rotate 1.5s linear infinite;
}

#loading-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: min(40vw, 50vh, 500px);
    position: relative;
    padding: 20px;
}

#loading-tip-text {
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    font-weight: bold;
    font-family: 'Modesto';
    text-align: center;
    max-width: 50%;
    line-height: 1.4;
    white-space: normal;
    word-wrap: break-word;
}

#loading-version-text {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1em;
    font-family: 'Modesto';
    color: rgb(210, 210, 210);
    font-size: clamp(0.88rem, 1.65vw, 1.32rem);
}

#loading-logo {
    width: min(40%, 200px);
    height: auto;
    aspect-ratio: 1;
}

@media (orientation: portrait) {
    #loading-circle-container-main {
        width: 82vmin;
        height: 82vmin;
        min-width: 200px;
        min-height: 200px;
    }

    .loading-circle-main {
        mask-image: radial-gradient(farthest-side, transparent calc(100% - 24px), black calc(100% - 24px));
        -webkit-mask-image: radial-gradient(farthest-side, transparent calc(100% - 24px), black calc(100% - 24px));
    }

    #loading-content-main {
        width: min(70vw, 80vh, 800px);
        padding: 40px;
    }

    #loading-tip-text {
        font-size: clamp(2rem, 4vw, 3rem);
        max-width: 80%;
    }

    #loading-version-text {
        font-size: clamp(1.6rem, 3.2vw, 2.4rem);
        bottom: 8%;
    }

    #loading-logo {
        width: min(80%, 400px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* For Safari and older browsers */
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}