.overlays-panel {
    position: fixed;
    z-index: 9999;
    top: 50vh;
    left: 10px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    min-width: 220px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0 10px 10px 10px;
    transform: translateY(-50%);
}

.overlay-list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background: green;
    height: auto;
    min-height: fit-content;
}

.overlay-list-item-text {
    padding-left: 5px;
    color: white;
    white-space: nowrap;
    font-family: 'Modesto';
    font-weight: bold;
    font-size: 1em;
    user-select: none;
    line-height: normal;
    height: auto;
}

.panel-checkmark {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    aspect-ratio: 1;
    background-color: #d3d3d3;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.panel-checkmark::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 30%;
    border: solid transparent;
    border-width: 0 0 3px 3px;
    transform: translate(-50%, -60%) rotate(-45deg);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.panel-checkmark.checked {
    background-color: #28a745;
}

.panel-checkmark.checked::after {
    border-color: white;
    opacity: 1;
}

@media (orientation: portrait) {
    .overlays-panel {
        left: 18px;
        min-width: 400px;
        padding: 9px;
        border-radius: 0 18px 18px 18px;
    }

    .overlay-list-item {
        padding: 14px 9px;
        margin-bottom: 4px;
        border-radius: 9px;
    }

    .overlay-list-item-text {
        padding-left: 9px;
        font-size: 1.82em;
    }

    .panel-checkmark {
        right: 9px;
        box-shadow: 1.82px 1.82px 5.2px rgba(0, 0, 0, 1);
    }

    .panel-checkmark::after {
        border-width: 0 0 5.2px 5.2px;
    }
}